:root {
    --main-color: #B5D5C5;
    --borader-round: 10%;
    --minimum-size: 1095px;

}

html {
    scroll-behavior: smooth;
}


/* Elements */

body {
    font-family: sans-serif;
    margin: 0%;
    min-width: var(--minimum-size);
    background-color: #F5F5DC;
}

footer {
    background-color: var(--main-color);
    /* min-width: var(--minimum-size); */
}

header {
    background-color: var(--main-color);
    /* min-width: var(--minimum-size); */
    display: flex; 
    justify-content: flex-end;
}

h1 {
    padding-left: 15px;
    padding-bottom: 250px;
}

h2 {
    padding-left: 15px;
}

ul {
    list-style-type: none;
}

/* Classes */

.column-left {
    flex: 20%;
    width: auto;
    min-width: 146px;
    height: auto;
    /* box-shadow: 5px 0px 0px 0px black; */
  }

.column-center {
    flex: 60%;
    /* margin-right: 10px; */
  }

.column-right {
    flex: 20%;
    min-width: 100px;
}

/* .left_margin {
    margin-left: 50px;
} */

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav_topic {
    display: inline-block;
    text-align: right;
}

.project-text {
    border-style: groove;
    padding: 7px;
    margin: 5px;
    width: fit-content;
    height: auto;
    background-color: rgb(252, 247, 241);
}

.project_small {
    /* min-width: 257px;
    max-width: 750px; */
    width: 650px;
    height: 120px;
    border-style:solid;
    margin: 15px 15px 15px 0px;
    padding-left: 7px;
    cursor: pointer;
    position: relative;
}

.row {
    display: flex;
  }
  

/* ID's */

#about_me {
    display: flex;
    flex-wrap: wrap;
}

#bio {
    min-height: 300px;
}
 
#background_field {
    height: 400px;
    background-image: url("https://images.pexels.com/photos/388415/pexels-photo-388415.jpeg?cs=srgb&dl=pexels-jahoo-clouseau-388415.jpg&fm=jpg");
    background-position: 0px -1000px;
}

#contact_me {
    margin-bottom: 0%;
}

#main_image {
    width: 100%;
}

#my_name {
    font-size: 200%;
    max-height: 100%;
    max-width: 700px;
}

#navbar {
    padding-right: 50px;
    display: inline-block;
}

#profile_pic {
    height: 200px;
    width: auto;
    border-radius: var(--borader-round);
    border-style: groove;
    border-color: black;
    position: relative;
    /* right: 150px; */
    bottom: 90px;
    /* display: flex; 
    justify-content: flex-end; */
    
}

#projects {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    padding: 0;
      
}

#project_big {
    border-style: solid;
    height: 250px;
    width: auto;
    /* max-width: 1500px; */
    margin: 15px 50px 15px 0px;
    background-image: url("https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
    background-size: cover;
    background-position: 0px -50px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}


/* Background images for small projects */

#LED {
    background-image: url(https://www.shutterstock.com/image-photo/some-led-lamps-blue-light-260nw-300543446.jpg);
    background-size: cover;
    background-position: 0px -80px;
}

#Cal {
    background-image: url(https://media.istockphoto.com/id/941729686/photo/business-accounting-concept-business-man-using-calculator-with-computer-laptop-budget-and-loan.jpg?b=1&s=612x612&w=0&k=20&c=VetWm4XkuQz2NOMVy9mNNrIenXzhkFidfcxIWRoEFEk=);
    background-size: cover;
    background-position: 0px -170px;
}

#Past {
    background-image: url(https://t3.ftcdn.net/jpg/00/49/69/66/360_F_49696671_C4x2IxqNOetcjF3o1a6zyaLG8sqGtcTw.jpg);
    background-size: cover;
    background-position: 0px -80px;
}

#Run {
    background-image: url(https://media.istockphoto.com/id/466443000/photo/female-running.jpg?s=612x612&w=0&k=20&c=TQ-l1bZmuoUIjxNWZ7ez4ODwlRXlyIPKaC9Cain8Nhk=);
    background-size: cover;
    background-position: 0px -160px;
}


/* Media */

@media screen {
    
}