:root {
    --main-color: #345E98;
    --borader-round: 10%;
    --minimum-size: 720px;

}

html {
    scroll-behavior: smooth;
}


/* Elements */

body {
    font-family: sans-serif;
    margin: 0%;
    min-width: var(--minimum-size);
}

footer {
    background-color: var(--main-color);
    /* min-width: var(--minimum-size); */
}

header {
    background-color: var(--main-color);
    /* min-width: var(--minimum-size); */
    display: flex; 
    justify-content: flex-end;
}

h3 {
    size: 40px;
}

ul {
    list-style-type: none;
}

/* Classes */

.column-left {
    flex: 20%;
    min-width: 146px;
  }

.column-right {
    flex: 80%;
  }

/* .left_margin {
    margin-left: 50px;
} */

.nav_topic {
    display: inline-block;
    text-align: right;
}

.project_small {
    min-width: 257px;
    height: 80px;
    border-style:solid;
    margin: 5px 15px 5px 0px;
    padding-left: 7px;
}

.row {
    display: flex;
  }
  

/* ID's */

#about_me {
    display: flex;
    flex-wrap: wrap;
}

#contact_me {
    margin-bottom: 0%;
}

#main_image {
    width: 100%;
}

#my_name {
    font-size: 200%;
    max-height: 100%;
    max-width: 700px;
}

#navbar {
    
    display: inline-block;
}

#profile_pic {
    max-height: 200px;
    max-width: 100%;
    border-radius: var(--borader-round);
    border-style: dotted;
    position: relative;
    display: flex; 
    justify-content: flex-end;
    
}

#projects {
    display: flex;
    flex-wrap: wrap;
    min-width: var(--minimum-size);
    padding: 0;
    
    
}

#project_big {
    border-style: solid;
    height: 250px;
    width: auto;
    margin: 15px 50px 15px 5px;
    background-image: url("https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); 
    background-size: cover;
    background-position: 0px -50px;
    background-color: transparent;
}

/* Media */

@media screen {
    
}